<%= render "shared/header" %>
<div class="contents-row">
  <p class="userpage-name">★<%= @nickname %>さんの出品一覧</p>
  <% @vegetables.each do |vegetable| %>
  <div class="userpage-content">
    <%= link_to vegetable_path(vegetable.id), class:"user-show" do %>
    <div class="content_post">
      <div>
      <%= image_tag vegetable.image ,class:"item-box-img" %>
      </div>
      <div>
        <p class="user-showinfo"><%= vegetable.vegetable %></p>
        <p class="user-showinfo"><%= vegetable.text %></p>
        <p class="user-showinfo"><%= vegetable.price %>円</p>
        <p class="user-showinfo", id="user-info"><%= vegetable.quantity %>個</p>
      </div>
    </div>
    <% end %>
    <div class="userpage-btn">
      <%= link_to "商品の編集", "#", method: :get, class: "item-green-btn" %>
      <p class="or-text"></p>
      <%= link_to "削除", vegetable_path(vegetable.id), method: :delete, class:"item-destroy" %>
    </div>
  </div>
  <% end %>
</div>
<%= render "shared/footer" %>